/** COLORS */
$textColor     : #414042;
$primaryColor  : #0055b8; // Dark Blue
$primaryColorLight  : #00a0df;
$secondaryColor: #f5a01c; // Dark Yellow
$darkGray      : #414042;
$mediumGray    : #ebebec; // footer contact bg
$lightGray     : #ebebec;
$linkColor     : $secondaryColor;


$fontRoboto: 'Roboto', 'Barlow Condensed',  sans-serif;
$fontBarlow: 'Barlow Condensed', 'Roboto',  sans-serif;

$screen-lg-min: 1199px;
$screen-lg-max: ($screen-lg-min - 1);
$screen-md-min: 992px;
$screen-md-max: ($screen-md-min - 1);
$screen-sm-min: 768px;
$screen-sm-max: ($screen-sm-min - 1);
$screen-xsm-min: 576px;
$screen-xsm-max: ($screen-xsm-min - 1);

/** FONT SIZES */

$htmlfs          : 10px; //10px
$fsBody          : 2rem; // 20px
$fsTitle         : 6.5rem; // 50px
$fsH1            : 3rem; // 30px
$fsH2            : 2.5rem; // 27px
$fsH3            : 2.3rem; // 22px
$fsH4            : $fsBody; // 20px

/** PARTIALS */
@import "base";
@import "header";
@import "forms";
@import "woocommerce";
@import "navigation";
@import "mobile_nav";
@import "content";
@import "blog";
@import "footer";
@import "sliders";
@import "slides";
@import "overrides";
@import "ie";
@import "responsive";
